.boton, .boton--enviar, .boton--oferta {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 20px;
}

.boton--enviar {
  background-color: yellow;
  color: black;
}

.boton--enviar a {
  text-decoration: none;
}

.boton--oferta {
  background-color: red;
  color: yellow;
}

.boton--sobre-mi {
  min-width: 130px;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #2c0b8e;
  background: #2c0b8e;
}

.boton--sobre-mi a {
  text-decoration: none;
}

.boton--sobre-mi:hover {
  background: #fff;
  color: #2c0b8e;
}

.css-button-sliding-to-left--red {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #d90429;
  color: #d90429;
}

.css-button-sliding-to-left--red:hover {
  color: #fff;
}

.css-button-sliding-to-left--red:hover:after {
  width: 100%;
}

.css-button-sliding-to-left--red:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #d90429;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .map-area {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }
  .carousel-inner {
    max-height: 25rem;
  }
  .servicios-fila {
    width: 100% !important;
    text-align: center;
  }
  .map-area {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .icono-warp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .titulo_sobre-mi {
    text-align: center;
  }
}

.navbar {
  min-height: 70px !important;
  background-color: cornflowerblue !important;
}

.navbar .navbar-brand {
  text-transform: uppercase !important;
  color: black !important;
  font-size: 2em;
  text-shadow: 1px 1px 1px antiquewhite !important;
  text-shadow: 1px 2px 1px antiquewhite !important;
  text-shadow: 1px 3px 1px antiquewhite !important;
}

.navbar .nav-item {
  font-size: 30px !important;
}

.contact-form {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding: 40px 30px;
}

.map-area {
  width: 460px;
  height: 437px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.map-area iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.text a {
  text-decoration: none;
  color: black;
}

.pie {
  text-align: center;
  padding: 10px;
  color: white;
  background: cornflowerblue;
}

/* MAIN */
.cuerpo {
  background-color: #A4E5EE;
  background-image: blue;
}

.tarjeta_horario {
  width: 350px;
  height: 300px;
  background-color: #4151e6;
  border-radius: 20px;
}

.tarjeta__titulo {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.tarjeta__titulo p {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.tarjeta__titulo--rojo {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: red;
  -webkit-animation: flash 3s infinite alternate;
          animation: flash 3s infinite alternate;
}

@-webkit-keyframes flash {
  from {
    width: 100%;
  }
  to {
    width: 20%;
  }
}

@keyframes flash {
  from {
    width: 100%;
  }
  to {
    width: 20%;
  }
}

.oferta {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.titulo_sobre-mi {
  font-size: 23px;
}

.img_sobre_mi p {
  font-size: 25px;
}

/*   Estilos de la galeria    */
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria .col-lg-4 img {
  width: 100%;
  height: 250px;
}

#galeria .col-lg-4 img:hover {
  border: 5px solid #f7f7f7;
}
/*# sourceMappingURL=style.css.map */