/* RESET */
* {
  margin: 0;
  padding: 0;
}

.navbar {
  min-height: 70px !important;
  background-color: cornflowerblue !important;
}

.navbar .navbar-brand {
  text-transform: uppercase !important;
  color: black !important;
  font-size: 25px !important;
  text-shadow: 1px 1px 1px antiquewhite !important;
  text-shadow: 1px 2px 1px antiquewhite !important;
  text-shadow: 1px 3px 1px antiquewhite !important;
}

.pie {
  text-align: center;
  padding: 5px;
  color: white;
  background: cornflowerblue;
  margin-top: 5px;
}

/* MAIN */
.cuerpo {
  background-color: #A4E5EE;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2380c0c9' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.tarjeta__titulo {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.tarjeta__titulo p {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.tarjeta__titulo--rojo {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: red;
  -webkit-animation: flash 3s infinite alternate;
          animation: flash 3s infinite alternate;
}

@-webkit-keyframes flash {
  from {
    width: 100%;
  }
  to {
    width: 20%;
  }
}

@keyframes flash {
  from {
    width: 100%;
  }
  to {
    width: 20%;
  }
}

.oferta {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

.tarjeta_animada {
  -webkit-animation: jackInTheBox 3s infinite alternate;
          animation: jackInTheBox 3s infinite alternate;
}

@-webkit-keyframes jackInTheBox {
  from {
    width: 100%;
  }
  to {
    width: 100%;
  }
}

@keyframes jackInTheBox {
  from {
    width: 100%;
  }
  to {
    width: 100%;
  }
}

.boton, .boton--enviar, .boton--oferta {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
}

.boton--enviar {
  background-color: yellow;
  color: black;
}

.boton--enviar a {
  text-decoration: none;
}

.boton--oferta {
  background-color: red;
  color: yellow;
}

/*   Estilos de la galeria    */
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria .col-lg-4 img {
  width: 100%;
  height: 250px;
}

#galeria .col-lg-4 img:hover {
  border: 5px solid #f7f7f7;
}

/*     FORMULARIO      */
#contenedor-formulario {
  background: #fbfafa;
  border-radius: 5px;
}

#titulo-formulario {
  color: #3f3f3f;
}

/* MAPA DE UBICACION */
#mapa {
  margin-top: 100px;
  width: 100%;
  height: 500px;
}

#local {
  background: #77a5c7;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 50%;
  margin-left: 100px;
  padding-top: 100px;
}

.animacionTexto {
  display: table;
}

.animacionTexto h2 {
  float: left;
  position: relative;
}

.animacionTexto h2 span {
  position: absolute;
  right: 0;
  width: 0;
  background: #77a5c7;
  -webkit-animation: maquina 5s infinite alternate;
          animation: maquina 5s infinite alternate;
}

@-webkit-keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  #local {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 10px;
  }
  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }
  .carousel-inner {
    max-height: 25rem;
  }
  .servicios-fila {
    width: 100% !important;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .icono-warp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
/*# sourceMappingURL=style.css.map */