/* MEDIA QUERIES */
@media (max-width:1200px){
  .map-area{
    width: 100%;
}
}

@media (max-width:768px) {
  #intro {
      width: 90% !important;
  }
.carousel-inner  {
    max-height: 25rem;
}
.servicios-fila{
    width: 100% !important;
    text-align: center;
}
.map-area{
  width: 100%;
}
}

@media (max-width:576px) {
  .icono-warp{
    flex-wrap: wrap;
    justify-content:center !important;
  }

  .titulo_sobre-mi{
      text-align: center;
  }
 
}