.navbar{
    min-height: 70px!important;
    background-color:$colorDeFondo!important;
  
  .navbar-brand{
    text-transform: uppercase!important;
    color:black!important;
    font-size: $tamanioFuente!important;
    text-shadow:  1px 1px 1px antiquewhite!important;
    text-shadow:  1px 2px 1px antiquewhite!important;
    text-shadow:  1px 3px 1px antiquewhite!important;
  }
}