@import "_variables" ;
@import "_botones";
@import "_breakpoints";
@import "_nav" ;
@import "_contacto";
@import "_footer";


/* MAIN */
.cuerpo{
    background-color: $fondoSecundario;
    background-image: $fondo;
  }

.tarjeta_horario{
  width: 350px;
  height: 300px;
  background-color: $fondoHorarios;
  border-radius: 20px;
}
.tarjeta__titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: $tamanioFuente;
    p{
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
  }
}
.tarjeta__titulo--rojo{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: $tituloOferta;
    animation: flash 3s infinite alternate;
}
@keyframes flash {
  from {
    width: 100%;
  }
  to{
    width: 20%;
  }
}

.oferta{
  margin-top: 10px;
  text-align: center;
  font-size: $tamanioFuente;
}

.titulo_sobre-mi{
  font-size: 23px;
}

.img_sobre_mi p{
  font-size: 25px;
}

/*   Estilos de la galeria    */

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
  img{
    width: 100%;
    height: 250px;
  }
  img:hover {
    border: 5px solid#f7f7f7;
  }
}






