/* RESET */
*{
    margin: 0;
    padding: 0;
}

@media (max-width:425px){

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 80px;
    grid-template-areas: "header" 
                         "main"
                         "footer";
  }

/* HEADER */

.encabezado{
    grid-area: header;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    background-color:cornflowerblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.encabezado a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color:black;
    font-size: 16px;
    text-shadow:  1px 1px 1px antiquewhite;
    text-shadow:  1px 2px 1px antiquewhite;
    text-shadow:  1px 3px 1px antiquewhite,
                  1px 4px 1px antiquewhite,
                  6px 6px 6px rgba(5, 5, 31, 0.8),
                  6px 6px 6px rgb(5, 5, 31, 0.8),
                  6px 6px 6px rgb(5, 5, 31, 0.8);

}
.logo img{
    height: 50px;
    padding-left: 90px;
}

.navegador a{
    display: block;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    padding-right: 10px;
}

.navegador a:hover{
    color: white;
}

/* MAIN */
.cuerpo{
    grid-area:main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A4E5EE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2380c0c9' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  }

  .tarjeta{
    width: 150px;
    height: 250px;
    background-color: white;
    border-radius: 10px ;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
}
.tarjeta__titulo {
    text-align: center;
    text-transform: uppercase;
}
.tarjeta__titulo--rojo{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: brown;
}
.tarjeta p{
    margin-top: 10px;
    text-align: center;
}
.contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  .formularioDeContacto{
    display: flex;
    width: 200px;
    background:white;
    padding:20px ;
    margin: 10px;
    margin-top: 30px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
  }
  .formularioDeContacto h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  .mapaDeUbicacion{
    display: flex;
    margin-top: 30px;
    margin: 5px;
  }
  
  .ingresos{
    width: 100%;
    background: whitesmoke;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .boton{
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #4433ff;
    background: #4433ff;
  }
  .boton:hover {
    background: #fff;
    color: #4433ff
  }


.servicios{
  display: flex;
  justify-content:left;
}
.fotoServicio{
  display: flex;
  justify-content: right;
  padding-left: 100px;
}

.listaDeServicios{
  padding: 5px 0px 0px 20px;
}

.listaDeServicios ol{
  list-style: none;
}

.servicio{
  font-size: 20px;
}
  /*Estilos de la galeria*/
.galeriaDeImagenes{
  width: 100%;
  height: 50%;
}

.galeria{
width: 90%;
margin: auto;
padding: 20px;
list-style: none;
box-sizing: border-box;

display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.galeria li{
  margin: 5px;
}

.galeria img{
  width: 150px;
  height: 100px;
}

/*Estilos del modal*/

.modal{
  visibility: hidden;
  opacity: 0;

}

.modal:target {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  width: 100%;
  height: 100%;
}

.modal h3{
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}



.imagen{
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen a{
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.imagen a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen img{
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #fff;
  box-sizing: border-box;
}

.cerrar{
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;

}


/* FOOTER */
.pie{
    grid-area: footer;
    display: flex;
    display: inline;
    text-align: center;
    padding: 5px;
    color: white;
    background: cornflowerblue;
    margin-top: 5px;
  }
}

@media (min-width:1024px) {

    .contenedor{
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: auto auto 80px;
        grid-template-areas: "header header" 
                             "main main"
                             "footer footer";
      }

      /* HEADER */

.encabezado{
    grid-area: header;
    display: flex;
    min-height: 70px;
    background-color:cornflowerblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.encabezado a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color:black;
    font-size: 25px;
    text-shadow:  1px 1px 1px antiquewhite;
    text-shadow:  1px 2px 1px antiquewhite;
    text-shadow:  1px 3px 1px antiquewhite,
                  1px 4px 1px antiquewhite,
                  6px 6px 6px rgba(5, 5, 31, 0.8),
                  6px 6px 6px rgb(5, 5, 31, 0.8),
                  6px 6px 6px rgb(5, 5, 31, 0.8);

}
.logo img{
    height: 100px;
    margin-right: 10px;
    
}
.navegador{
    display: flex;
    
}
.navegador a{
    display: inline-block;
    text-align: center;
    font-weight: 600;
    padding-right: 20px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navegador a:hover{
    color: white;
}

/* MAIN */
.cuerpo{
    grid-area:main;
    display: flex;
    justify-content: space-around;
    background-color: #A4E5EE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2380c0c9' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  
  }

.tarjeta{
    width: 200px;
    height: 330px;
    background-color: white;
    border-radius: 10px ;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
}
.tarjeta__titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}
.tarjeta__titulo--rojo{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    color: brown;
}
.tarjeta p{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  .formularioDeContacto{
    display: flex;
    width: 300px;
    background:darkkhaki;
    padding:25px ;
    margin: 10px;
    margin-top: 30px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
  }
  .formularioDeContacto h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  .mapaDeUbicacion{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin: 5px;
  }
  
  .ingresos{
    width: 100%;
    background: darkkhaki;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 16px;
  }

.servicios{
  display: flex;
  justify-content:left;
}
.fotoServicio{
  display: flex;
  justify-content: right;
  padding-left: 100px;
}

.listaDeServicios{
  padding: 5px 0px 0px 20px;
}

.listaDeServicios ol{
  list-style: none;
}

.servicio{
  font-size: 20px;
}
  .boton{
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #4433ff;
    background: #4433ff;
  }
  .boton:hover {
    background: #fff;
    color: #4433ff
  }

/*Estilos de la galeria*/
.galeriaDeImagenes{
  width: 100%;
  height: 50%;
}

.galeria{
width: 90%;
margin: auto;
padding: 20px;
list-style: none;
box-sizing: border-box;

display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.galeria li{
  margin: 5px;
}

.galeria img{
  width: 150px;
  height: 100px;
}

/*Estilos del modal*/

.modal{
  visibility: hidden;
  opacity: 0;

}

.modal:target {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  width: 100%;
  height: 100%;
}

.modal h3{
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}



.imagen{
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen a{
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.imagen a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen img{
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #fff;
  box-sizing: border-box;
}

.cerrar{
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;

}


/* FOOTER */
.pie{
    grid-area: footer;
    display: flex;
    display: inline;
    text-align: center;
    padding: 5px;
    color: white;
    background: cornflowerblue;
    margin-top: 5px;
  }

}
